body {
  background-color: #ffffff;
  color: #757575;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
.list {
  list-style: none;
}
.header {
  color: #212121;
}
/* Логотип */
.logo {
  color: #000000;
  font-family: "Raleway", sans-serif;
}
.logo-part {
  color: #2196f3;
}
/* Шапка */
/* Навигация */
/* .nav-page {
} */
.nav-page-list {
  color: #212121;
}
.nav-page-list:hover {
  color: #2196f3;
}
/* Свяжитесь с нами */
.contacts-list {
  color: #757575;
}
.contacts-list:hover {
  color: #2196f3;
}
/* main */
.section-tagline {
  background-color: #2f303a;
  color: #ffffff;
}
button {
  background-color: #2196f3;
  color: #ffffff;
}
.team {
  background-color: #f5f4fa;
}
/* Портфолио */
.filters a {
  background-color: #f5f4fa;
  color: #212121;
}
.filters a:hover {
  background-color: #2196f3;
  color: #ffffff;
}
