body {
  background-color: #ffffff;
  color: #757575;
}
.list {
  list-style: none;
}
.header {
  color: #212121;
}
/* Логотип */
.logo {
  color: #000000;
}
.logo-part {
  color: #2196f3;
}
/* Шапка */
/* Навигация */
/* .nav-page {
} */
.nav-page-list {
  color: #212121;
}
.nav-page-list:hover {
  color: #2196f3;
}
/* Свяжитесь с нами */
.contacts-list {
  color: #757575;
}
.contacts-list:hover {
  color: #2196f3;
}
/* main */
.section-tagline {
  background-color: #2f303a;
  color: #ffffff;
}
button {
  background-color: #2196f3;
  color: #ffffff;
}
